#card-compra-main-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

#card-compra-main-container button:hover {
    transform: scale(1.05);
}

#card-compra-main-containerOn button:hover {
    transform: scale(1.05);
}

#card-compra-main-container button {
    padding: 5px;
    border-radius: 10px;

    cursor: pointer;
}

#card-compra-main-containerOn {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.priceUnselected {
    background-color: #172838;
}

.priceSelected {
    color: green !important;
    border: 1px solid green !important;
    box-shadow: 0px 1px 9px 0px rgba(0, 128, 0, 0.651) !important;
    background-color: white;
}

#container-text-information {
    width: 80%;
    text-align: center;
    align-items: flex-start;

    margin: auto;
    padding-bottom: 20px;
    width: 80%;
    border-bottom: solid 1px #172838;
}

#container-text-information img {
    width: 15px;
    height: 15px;
}

#title-text-information {
    margin-top: 30px;
    margin-bottom: 50px;
}

#container-link-discord {
    display: inline-block;
}

#container-link-wpp {
    display: inline-block;
}

.link-information {
    align-items: baseline;
    gap: 0px;
}

#text-information-one {
    margin-bottom: 30px;
}

#container-instructions {
    margin: auto;
    width: 80%;
    text-align: left;
}

#card-compra-conteudo-container {
    display: flex;

    padding-left: 30px;
    width: 80vw;
}

#card-compra-container1 {
    display: flex;
    flex-direction: column;
    gap: 100px;

    height: 100%;
    width: 70
}

#card-compra-container1 p {
    margin-top: 20px;
}

#image-compra-card {
    display: block;

    width: 15vw;
    border-radius: 10px;
    margin: auto;
}

#card-compra-container1 img {
    max-height: 300px;
    box-shadow: 1px 1px 5px 1px #172838;
    border-radius: 30px;
}

#card-compra-container2 {
    flex-direction: column;
    gap: 200px;

    align-items: center;
    justify-content: center;
    margin-left: 150px;
    width: 60%
}

#card-compra-container2 button {
    margin-bottom: 30px;
}

#container-compra-buttons {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}
#container-compra-buttons button{
    box-shadow: 1px 1px 5px 1px #172838;
    color: rgba(245, 245, 245, 0.726);
}

#card-compra-container2 h3 {
    margin-bottom: 60px;
}

.desconto {
    width: 150px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}

.desconto-controladorOff {
    border: 2px double black;
    box-shadow: 1px 1px 5px 1px #172838;
    color: rgba(245, 245, 245, 0.726);
    background-color: #172838;
}

.desconto-controladorOn {
    background-color: white;
    color: green;
    border: 1px solid green;
    box-shadow: 0px 1px 9px 0px rgba(0, 128, 0, 0.651);
}

#container-two-title-two {
    margin-top: 150px;
}

#payment-forms-container {
    display: flex;

    box-shadow: 1px 1px 5px 1px #172838;
    border: 1px solid #172838;
    border-radius: 10px;
    padding: 20px 20px 0px 20px;
    margin-bottom: 20px;
}

#image-payment-container {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
    margin-bottom: 50px;
    gap: 95px;
}

#image-payment-container img {
    max-width: 225px;
    height: 160px;
}
.paymentTypeSelected{
    border: 1px solid green;
    box-shadow: 0px 1px 9px 0px rgba(0, 128, 0, 0.651);
    background-color: white;
}
.paymentTypeUnselected{
    background-color: #172838;
}

#image-payment-container button:hover {
    transform: scale(1.05);
}

#image-payment-container button {
    border-radius: 10px;
    cursor: pointer;
}

#video-responsive {
    width: 100%;
    height: 350px;

    border-radius: 30px;
}

#text-payment-forms-container {
    display: flex;
    flex-direction: column;
    gap: 75px;


    width: 70%;
    margin-top: 10px;
    margin-left: 50px;
}

.marginLeft100 {
    margin-left: 100px;
}

#qrcode-button {
    position: fixed;
    top: 50px;
    right: 65px;
    width: 150px;
    background-color: green;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
}

#modal-keepbuying {
    position: fixed;
    width: 150px;
    height: 50px;
    bottom: 50px;
    right: 50px;
    border: 1px solid red;
    background-color: white;
    color: red;
    padding: 6px 4px 4px 4px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 1px 9px 0px rgba(0, 128, 0, 0.651) !important;
}